html, body {
	background-image: url(images/background.png);
}

.common-footer {
}

footer {
	border-top: 5px 0px 0px 0px;
	border-color: #ffffff;
	width: 100%;
	font-size: 20px;
	color: white;
	background-color: #666666;
	text-align: center;
	padding: 40px;
	float: left;
}

#header {
	background-color: #ffffff;
	border-color: #cccccc;
	border-bottom:2px solid #bbb;
	width: 1160px;
	height: 90px;
	color: #ffffff;
	float: left;
}

h1 {
	font-family: Georgia;
	font-size: 50px;
	background-color: #4aaaa5;
	width: 275px;
	padding: 20px;
	margin-left: 150px;
	float: left;
}

#aboutli {
	margin-left: 200px;
	border-right:2px solid #bbb
}

#portfolioli {
	border-right:2px solid #bbb
}

li {
	display: inline;
	margin-left: 10px;

}

li a {
	list-style-type: none;
	text-decoration: none;
	font-family: arial;
	display: inline-block;
	margin-top: 35px;
	font-size: 20px;
	color: #777777;
	margin-right: 10px;
}

h2 {
	color: #4aaaa5;
	font-family: Georgia;
	font-size: 30px;
	border-bottom: 2px solid #bbb;
	margin-bottom: 10px;
}

img {
	float: left;
	margin-right: 5px;
}

#main-left {
	margin-top: 30px;
	margin-left: 150px;
	margin-bottom: 280px;
	float: left;
	width: 650px;
	background-color: #ffffff;
	border-color: #dddddd;
	height: 400px;
	padding: 20px;
	font-family: arial;
	color: #777777;
}

p {
	line-height: 130%;
}

#main-right {
	float: left;
	padding: 20px;
	background-color: #ffffff;
	border-color: #dddddd;
	margin-top: 30px;
	margin-left: 10px;
	width: 270px;
	height: 130px;
}

#name-field {
	width: 100%;

}

#email-field {
	width: 100%;
}

#message-field {
	width: 100%;
	height: 150px;
}

#projectlist {
	margin-left: 50px;
}


h3 {
	position: absolute;
	font-family: Georgia;
	background-color: #4aaaa5;
	color: #ffffff;
	padding: 20px;
	width: 210px;
	margin-top: 125px;
	text-align: center;
}

#main-left-portfolio {
	margin-top: 30px;
	margin-left: 150px;
	float: left;
	width: 650px;
	background-color: #ffffff;
	border-color: #dddddd;
	height: 1000px;
	padding: 20px;
	font-family: arial;
	color: #777777;
	margin-bottom: 180px;
}

/* Media Queries */

@media screen and (max-width: 980px) {
	#profile-pic {
		width: 450px;
		height: 300px;
	}

	#main-right {
	}

	#main-left {
		margin-bottom: 50px;
		width: 450px;
		height: 600px;
	}

	#main-left-portfolio {
		width: 275px;
		height: 1700px;
		margin-bottom: 30px;
	}

	#message-field {
		height: 350px;
	}

	#projectlist {
		margin-left: 5px;
	}
}

@media screen and (max-width: 768px) {
	#aboutli {
		margin-left: 180px;
	}

	#main-left {
		width: 680px;
		margin-bottom: 10px;
		height: 350px;
		margin-left: 20px;
	}

	p {
		width: 490px;
	}

	#main-left-portfolio {
		width: 680px;
		height: 1400px;
		margin-left: 20px;
	}

	li {
		margin-left: 0px;
	}

	#projectlist li a img {
		height: 300px;
		width: 300px;
	}

	#projectlist li a {
		margin-left: 20px;
	}

	#projectlist {
		margin-left: 0px;
	}

	#main-right {
		margin-left: 150px;
		width: 680px;
		margin-bottom: 30px;
		margin-left: 20px;
	}

	#profile-pic {
		width: 220px;
		height: 150px;
	}

	#message-field {
		height: 100px;
	}

	h1 {
		margin-left: 20px;
	}

	h3 {
		margin-top: 225px;
		width: 260px;

	}
}


@media screen and (max-width: 640px) {
	#header {
		position: static;
		height: 190px;
	}

	h1 {
		float: none;
		width: 640px;
		margin-left: 0px;
		text-align: center;
	}

	#aboutli {
		margin-left: 150px;
	}

	#profile-pic {
		width: 500px;
		height: 400px;
	}

	#aboutli {
		margin-left: 10px;
	}

	#main-left {
		margin-left: 20px;
		height: 700px;
		width: 545px;
	}

	#main-right {
		margin-left: 20px;
		width: 545px;
	}

	footer {
		text-align: center;
	}

	#main-left-portfolio {
		margin-left: 40px;
	}

	.header-list-box {
	}

	li a {
		margin-left: 70px;
		margin-right: 70px;
	}

	#connect-list li a {
		margin-left: 0px;
		margin-right: 0px;
	}

	#message-field {
		height: 440px;
	}

	#main-left-portfolio {
		width: 545px;
		margin-left: 20px;
		height: 3150px;
	}

	#projectlist {
		margin-left: 0px;
	}

	#projectlist li a img {
		height: 400px;
		width: 500px;
	}

	h3 {
		margin-top: 320px;
		width: 460px;
	}
}
